<div class="container">
    <h1 class="text-uppercase mt-5 mb-5">
        Read Component Tools
    </h1>

    <table class="table table-bordered mt-5 mb-5">
        <thead class="text-uppercase">
            <tr>
                <th>UserId</th>
                <th>UserName</th>
                <th>Employeecode</th>
                <th>Usermail</th>
                <th>UserMobile</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody class="mt-3 mb-3">
            <tr *ngFor="let value of getData">
                <td>{{value.userid}}</td>
                <td>{{value.username}}</td>
                <td>{{value.employeecode}}</td>
                <td>{{value.usermail}}</td>
                <td>{{value.usermobile}}</td>
              
                <td>
                    <button type="button" class="btn btn-success" [routerLink]="['/create',value.userid]" routerLinkActive="router-link-active"  >Edit</button>
                    <button type="button" class="btn btn-danger mx-3" (click)="deleteReadData(value.userid)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>